a {
  text-decoration: none !important;
  display: block;
}

.info-card {
  max-width: 250px;
  max-height: 400px;
}

.ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

img {
  object-fit: contain;
}

.product-image {
  width: inherit !important;
  height: inherit !important;
}
